html {

    background: #03120f url(bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 36px;

    max-width: 100%;
    /*overflow-x: hidden;*/
    height: 100%;

}

h1 {
    margin: 0.2em auto;
}

body {
    font-family: 'Italianno', cursive;
    font-size: 1.0em;
    color: white;
    margin: 0;

    position:relative;
}

button, input {
    font-family: 'Italianno', cursive;
    font-size: 1.0em;
    color: white;
}



#main-container {
    width:400px;
    margin: 30px auto 0;
    display:block;
    position:relative;
    height:100%;

}

#form-container, #thank-you  {
    z-index:1000;
//background:rgba(100, 100, 100, 0.4);
    min-height: 500px;
    position:relative;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

#thank-you {
    padding-top: 100px;
    min-height: 300px;
}

#totoro {
    z-index:50;
    width: 200px;
    position: absolute;
    bottom:10px;
    left:-210px;
}
#dustBuuny {
    z-index: 50;
    width: 200px;
    position: absolute;
    bottom:10px;
    right:-210px;
}

#totoro img,  #dustBuuny img {
    width: 200px;
    -webkit-filter: grayscale; /*sepia, hue-rotate, invert....*/
    -webkit-filter: brightness(5%);
}

#totoro.active img,  #dustBuuny.active img {
    width: 200px;
    -webkit-filter: grayscale; /*sepia, hue-rotate, invert....*/
    -webkit-filter: brightness(100%);
}

label {
    display:block;
    position:relative;
}

label.inline {
    display: inline;
}

.forRadio, button, button:focus{
    margin: 0 20px;
    background: #497d74;
    padding:8px 25px 5px 25px;
    border:none;
    border-radius: 20px;
    cursor: pointer;
    outline:none;
}

.forRadio:hover, button:hover {
    background: #76afa5;
}

.form-input {
    background: rgba(137, 148, 140, 0.4);
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin: 20px 0;
    position:relative;
}
.form-input:hover {
    background: rgba(157, 167, 159, 0.56);
}

input[type="text"], textarea{
    //overflow:hidden;
    background: none;
    color: #FFF;
    border: none;
    font-family: 'Italianno', cursive;
    font-size: 1.0em;
    text-align: center;
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-input::after {
    width:90%;
    border-bottom: 1px solid #ccc;
    height:1px;
    position:absolute;
    bottom: 26px;
    display:block;
    content:'';
    margin: 0 5%;
}

input[type="text"]:focus {
    border: none;
    outline:none;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + span {
    color: #000;
}

input[type="radio"]:checked + span {
    color: #FFF;
}

.forRadio.balanceRight {
    padding: 8px 27px 5px 20px;
}

.radio-container {
    margin: 20px 0;
}

hr {
    border-style: solid;
    border-width: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin: 50px 0;
}

div.invisible, .invisible {
    display:none;
}

@media (max-width: 425px) {
    html {
        font-size: 35px;
    }
    #main-container {
        width: 100%;
        margin: 10px 0;
        overflow: hidden;
    }

    #totoro {
        left:-100px;
        bottom:-15px;
    }
    #dustBuuny {
        right:-50px;
        bottom:-26px;
    }

    #totoro.active,  #dustBuuny.active {
        z-index:51;
    }
}